.chart-container {
  width: 80%;
  margin: 20px auto;
  padding: 2vh 2vw;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #2e2e2e; 
  color: #00ffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .chart-container {
    width: 90%;
    padding: 3vh 4vw;
  }
}

@media (max-width: 480px) {
  .chart-container {
    width: 95%;
    padding: 4vh 6vw;
  }
}
